.guessRank{
    .header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 350rpx;
        background-image: linear-gradient(99deg, #FFE05A 0%, #FFF39A 100%), linear-gradient(180deg, rgba(255, 243, 154, 0) 0%, #FFF39A 100%);
        .title{
            position: absolute;
            left: 205rpx;
            bottom: 70rpx;
            width: 272rpx;
            height: 146rpx;
        }
		.record{
			position: absolute;
			right: 0;
			bottom: 109rpx;
			height: 56rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 28rpx 0 0 28rpx;
			background: #fff;
			padding: 0 22rpx 0 26rpx;
			.icon{
				width: 24rpx;
				height: 24rpx;
			}
			.text{
				font-size: 24rpx;
				line-height: 24rpx;
				font-weight: bold;
				color: #FFB200;
				margin-left: 6rpx;
			}
		}
        .bg{
            position: absolute;
            z-index: 3;
            bottom: 0;
            left: 0;
            height: 80rpx;
            width: 100%;
        }
    }
    .rankList{
        position: fixed;
        z-index: 6;
		top: 280rpx;
		left: 20rpx;
        right: 20rpx;
        bottom: 0;
        background: #fff;
        border-radius: 16rpx;
    }
}